# Node modules
**/node_modules/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# dotenv environment files
**/.env

# Build output
**/dist/
**/build/

# OS-specific
.DS_Store
Thumbs.db

# VS Code specific
.vscode/

# Dependency lock files (optional to ignore one if you use another)
# Uncomment if you don't want to track one of them
# **/package-lock.json
# **/yarn.lock
